.about {
    min-height: 90vh;
    background-size: 100%;
    padding: 2%;
}

.about h3 {
    text-align: center;
}

.about h3,
.about h5 {
    color: #781c1f;
    margin: 2% 0%;
}

.about p {
    color: white;
}