<nav class="navbar navbar-expand-lg navbar-dark ">
    <!-- Image and text -->
    <nav class="navbar navbar-dark ">
        <a class="navbar-brand" href="#">
            <img src="assets/img/logo.png" width="50" height="50" class="d-inline-block align-middle" alt="">Gnome Game
        </a>
    </nav>

    <div class=" navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['about']">About us</a>
            </li>
        </ul>
    </div>
</nav>