<div class="filterContainer">
    <!-- Search Form-->
    <div class="searchContain">
        <input type="search" #name placeholder="Search by name" aria-label="Search" (keyup.enter)="filter(name)">
        <button type="submit" (click)="filter(name)"><i class="fa fa-search"></i></button>
    </div>
    <!-- Filters -->
    <div class="filters">
        <div class="row">
            <div class="col">
                <h5>
                    Cities
                </h5>
            </div>
            <div class="col">
                <h5>
                    Professions
                </h5>

            </div>
            <div class="col">
                <h5>
                    Friends
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 ">
                <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Brastlewark</option>
                          </select>
            </div>
            <!-- Profession Filter -->
            <div class="col-md-4 col-lg-4 col-sm-12 ">
                <select class="custom-select" #selectProf (change)="changeProfession(selectProf)">
                <option>All</option>
                <option  *ngFor="let prof of (filtersData | json | filter:'professions')" [ngClass]="(prof===profFilter)?'selected':''">{{prof}}</option>
                </select>
            </div>
            <!-- Friend Filter -->
            <div class="col-md-4 col-lg-4 col-sm-12 ">
                <select class="custom-select" #selectFriend (change)="changeFriend(selectFriend)">
                    <option >All</option>
                    <option  *ngFor="let f of (filtersData | json | filter:'friends')" [ngClass]="(f===friendFilter)?'selected':''">{{f}}</option>
                    </select>
            </div>
        </div>
    </div>

    <button type="button" class="btn buttonFilter" (click)="filter(name)">APPLY</button>
</div>