body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f9f9f9;
}

/* Navbar and header */
.navbar{
	z-index: 1000;
    position: fixed;
    width: 100%;
    padding: 14px 24px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    transition: 0.2s cubic-bezier(0, 0, 0, 1);
}
.navbarFixed {
	position: fixed;
	background-color: black;
	color: white;
	transition: 0.2s cubic-bezier(0, 0, 0, 1);
}
.navbar span {
	color: white;
}

.header{
	background-color: #352958;
}

.title{
	text-align: center;
    padding: 10%;
    color: #FC6D21;
}

/* Services */
.col{
	padding: 0%;
}
.serviceContainer{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 10px;
    
}
.serviceTitle{
	padding: 1%;
    color: #D6D6D6;
    background-color: #352958;
    margin-top: 2%;
}
.serviceMethod{
	color: #E24329;
}

.servicePath,.serviceDescription h6{
	color:#8d73d8;
}

.serviceDetail{
	padding: 2%;
}

.example p{
	word-wrap: break-word;
}