<!-- Error Message -->
<div *ngIf="error" class="alert  text-center" role="alert">
    {{errorMessage}}
</div>
<!-- Loading Element -->
<app-loader *ngIf="loading"></app-loader>
<!-- Message -->
<div *ngIf="habitantscount">
    <h5 class="notFound">There are no gnomes to show</h5>
</div>
<!-- Grid of Gnomes -->
<div class="row align-items-center gnomes zoom animated fadeIn" *ngFor="let gnome of habitants">
    <div class="row col-lg-3 col-md-12 col-sm-12  align-items-center">
        <!-- Photo -->
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img class="rounded-circle" img-cache src="{{gnome.thumbnail}}" onerror="this.src='assets/img/usuario.png'" alt="Card image cap" width="60" height="60">
        </div>
        <!-- Name -->
        <h5 class="col-lg-6 col-md-12 col-sm-12 gnomeName  align-items-center">
            {{gnome.name}}
        </h5>

    </div>
    <!-- Age / Height / Weight -->
    <div class="col-lg-3 col-md-12 col-sm-12 gnomeAWH align-items-center">
        <p class="gnomeAtributes align-items-center">
            <span class="gnomeAge align-items-center">Age</span> / <span class="gnomeWeight align-items-center">Weight</span> / <span class="gnomeHeight align-items-center">Height</span>
        </p>
        <p>
            <span class="gnomeAge align-items-center">{{gnome.age}}</span> / <span class="gnomeWeight">{{gnome.weight | number:'1.1-2' }}</span> / <span class="gnomeHeight">{{gnome.height | number:'1.1-2'}}</span>
        </p>
    </div>
    <div class="col">
        <!-- Professions -->
        <p class="gnomeAtributes align-items-center">
            Professions
        </p>

        <p>
            <span *ngFor="let profession of gnome.professions">
               <img  src="assets/img/{{profession.trim() | slice:0:1 | lowercase}}.png" data-toggle="tooltip" data-placement="top" title="{{profession}}" alt="{{profession}}" onmouseenter="$(this).tooltip('show')" class="rounded-circle professionIcon" > 
            </span>
        </p>
    </div>
    <!-- Friends -->
    <div class="col">
        <p class="gnomeAtributes align-items-center">
            Friends
        </p>

        <p>
            <span *ngFor="let friend of gnome.friends" style="margin: 1%;">
                       <span class="circulo" data-toggle="tooltip" data-placement="top" title="{{friend}}"  onmouseenter="$(this).tooltip('show')">
                           {{friend | slice:0:1 | uppercase }}
                       </span>
            </span>
        </p>
    </div>
</div>