.gnomeAWH span,
.gnomeAWH p {
    font-family: 'Roboto Black', sans-serif;
    text-align: center;
}

.grid {
    width: 100vw;
    margin-left: 0px;
}

.hairIcon {
    border: 1px solid;
    padding: 1%;
}

.gnomes {
    width: 85%;
    margin: 2% auto;
    text-align: center;
    padding: 1%;
    background-color: #0f0713;
    border: 1px solid #781c1f;
}

.gnomeAWH p,
.gnomeAtributes,
.gnomeName {
    color: white;
}

.gnomeAge {
    color: #33c933;
}

.gnomeWeight {
    color: #557ce1;
}

.gnomeHeight {
    color: #458a93;
}

.gnomeProfession {
    border: 1px solid;
    background-color: #cd2025;
    color: white;
    padding: 1% 2%;
    margin: 1%;
}

.professionIcon {
    width: 40px;
    height: 40px;
    margin: 0% 1%;
}

.circulo {
    width: 40px;
    height: 40px;
    display: table-cell;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    border-radius: 50%;
    font-family: 'Roboto Black', sans-serif;
    background: #781c1f;
}

.zoom:hover {
    transform: scale(1.01);
    transition: all 0.1s ease;
}

.notFound {
    text-align: center;
    color: #781c1f;
}

.alert {
    background-color: #781c1f;
    color: white;
}


/* Medium devices (tablets, 768px and up)*/

@media (max-width: 768px) {
    .gnomes .row {
        margin: 0%;
    }
}

@media (max-width: 1024px) {
    h5 {
        font-size: 14px;
    }
}